.static-page > .page-content {
    display: grid;
    grid-template-columns: 640px calc(100% - 640px);
    align-items: center;
    padding-top: 40px;
}

.static-page > .page-content lottie-player {
    height: 640px;
    width: 100%;
    background: transparent;
}

.static-page > .page-content > .block-right {
    color: #fff;
    font-weight: 900;
    font-size: 40px;
    line-height: 50px;
}

.static-page > .page-content > .block-right .btn {
    font-weight: 600;
    width: 240px;
    margin-top: 30px;
}